openapi: 3.1.0
info:
  title: butler.works API (리버스 엔지니어링) + butler.view 로컬 API
  version: "1.0.0"
  description: |
    `www.butler.works` 의 내부 API(`api.butler.works`)를 HAR 캡처로 리버스 엔지니어링해
    정리한 명세 + 본 프로젝트(butler.view)가 제공하는 로컬 DB 기반 API.

    ## 업스트림(butler.works) 핵심 사실
    - 인증: 공개 엔드포인트는 토큰 불필요. CORS `Access-Control-Allow-Origin: *`.
    - 레이트리밋(비로그인): `x-ratelimit-limit-user: 100` / `x-ratelimit-reset-user: 60`
      → 사용자(IP)당 60초에 100요청.
    - 기업 식별자 `corpCode` = **DART 고유번호 8자리** (예: `00126380`=삼성전자).
      종목코드 `stockCode` 는 6자리(예: `005930`).
    - **데이터 게이팅**: 목표주가/컨센서스 리포트(증권사별)는 비로그인도 최신까지 공개.
      재무 시계열(매출/영업이익/순이익, PER/PBR 과거값)은 **비로그인 시 ~2023년까지만**
      내려오고, 로그인(구독) 세션에서만 최신 분기(2024~)까지 제공된다. 응답의
      `isLegacyMasking: true` 가 마스킹 신호.

    ## 데이터 출처(중요)
    butler 는 외부 컨센서스 피드를 그대로 중계하지 않고 증권사 리포트를 자체 수집·정규화한다.
    리포트 1건 = 증권사 1곳의 한 시점 목표주가. 월별 min/avg/max 는 butler 자체 집계.
    본 프로젝트의 모든 적재 데이터는 `source = "butler"` 로 출처를 표기한다.

servers:
  - url: https://api.butler.works
    description: butler.works 업스트림(공개)
  - url: http://localhost:3939/api/proxy
    description: butler.view 투명 프록시 (→ api.butler.works/api)
  - url: http://localhost:3939/api
    description: butler.view 로컬 DB API (정규화 SQLite)

tags:
  - name: screener
    description: 전종목 enumerate (2,555개 기업의 출발점)
  - name: company
    description: 기업 기본정보 / 시세
  - name: consensus
    description: 증권사별 목표주가 · 컨센서스 리포트
  - name: financials
    description: 재무 시계열 / 밸류에이션
  - name: feed
    description: 뉴스 · 공시 · 컨센서스 통합 피드
  - name: market
    description: 시장 지수 / 환율
  - name: local
    description: butler.view 로컬 DB API
  - name: sector
    description: 섹터 집계 (로컬)
  - name: auth
    description: 로그인 / 관심목록 / 알림 (로컬)

paths:
  # ===================== 업스트림: 스크리너 =====================
  /api/screener/count:
    post:
      tags: [screener]
      summary: 조건에 맞는 기업 수 (filters 빈배열 → 전종목 2555)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters: { type: array, items: { type: object } }
            example: { filters: [] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer, example: 2555 }

  /api/screener/screen:
    post:
      tags: [screener]
      summary: 기업 목록 페이지네이션 (전종목 enumerate)
      description: |
        `filters: []` 로 호출하면 전종목을 `marketCap` 내림차순으로 페이징. `size`×`page` 로 순회.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters: { type: array, items: { type: object } }
                orderBy: { type: string, enum: [DESC, ASC], default: DESC }
                orderColumn: { type: string, example: marketCap }
                page: { type: integer, minimum: 1 }
                size: { type: integer, default: 50 }
            example: { filters: [], orderBy: DESC, orderColumn: marketCap, page: 1, size: 50 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  columns: { type: [array, "null"] }
                  results:
                    type: array
                    items: { $ref: "#/components/schemas/ScreenRow" }

  /api/screener/filters:
    get:
      tags: [screener]
      summary: 스크리너에서 쓸 수 있는 모든 필터 정의(팝업용)
      responses: { "200": { description: OK } }

  # ===================== 업스트림: 기업 =====================
  /api/companies/{corpCode}:
    get:
      tags: [company]
      summary: 기업 기본정보 + 현재 시세/밸류(priceInfo)
      parameters:
        - $ref: "#/components/parameters/corpCode"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompanyDetail" }

  /api/stocks/{corpCode}:
    get:
      tags: [company]
      summary: 종목 시세 요약
      parameters: [{ $ref: "#/components/parameters/corpCode" }]
      responses: { "200": { description: OK } }

  # ===================== 업스트림: 컨센서스 =====================
  /api/consensus/target-prices:
    get:
      tags: [consensus]
      summary: 목표주가 차트 (월별 min/avg/max + 현재 요약)
      description: |
        `charts.targetPrices[]` 는 월말 스냅샷(증권사 전체 집계), `tables` 는 현재 요약.
        **비로그인도 최신월까지 공개.**
      parameters:
        - name: corpCode
          in: query
          required: true
          schema: { type: string }
          example: "00937324"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TargetPrices" }

  /api/consensus/reports/{reportId}:
    get:
      tags: [consensus]
      summary: 리포트 1건 상세 (증권사·애널리스트·목표가·투자의견·AI요약)
      parameters:
        - name: reportId
          in: path
          required: true
          schema: { type: string }
          example: "51291"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReportDetail" }

  /api/consensus/securities-companies:
    get:
      tags: [consensus]
      summary: 해당 기업을 커버하는 증권사 목록
      parameters:
        - name: corpCode
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties: { corpName: { type: string } }

  /api/v2/consensus/reports:
    get:
      tags: [consensus]
      summary: 컨센서스 리포트 글로벌 피드 (커서 페이지네이션)
      parameters:
        - name: cursor
          in: query
          schema: { type: string }
          description: base64 커서 (응답 nextCursor)
        - name: filter
          in: query
          schema: { type: string, enum: [ALL, PORTFOLIO, WATCHLIST] }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nextCursor: { type: [string, "null"] }
                  hasNext: { type: boolean }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ReportDetail" }

  # ===================== 업스트림: 재무 =====================
  /api/v2/analysis/summary/{corpCode}:
    get:
      tags: [financials]
      summary: 재무 통합 요약 (실적 시계열 + 컨센서스 추정 + 밸류에이션)
      description: |
        가장 큰 응답(수백 KB). 본 프로젝트가 매출/영업이익/순이익/PER/PBR/목표주가를 뽑는 원천.
        - `fs.isRevenue|isOperatingProfitLoss|isNetIncome`: **accumulated 호출 시 TTM(과거 12개월 롤링)**.
          연간값은 4분기(`quarter==4`) 항목 = 회계연도 전체.
        - `consensus.isRevenue|isOperatingProfitLoss`: **분기 단독 시계열**(실적+추정).
          `isPreliminary === null` 이면 미래 추정치.
        - `valuations.valPER.data|valPBR.data`: 분기별 PER/PBR.
        - 비로그인은 `fsDiv=MFS&quarterPeriod=accumulated` 라도 ~2023 까지만.
      parameters:
        - $ref: "#/components/parameters/corpCode"
        - name: fsDiv
          in: query
          schema: { type: string, enum: [MFS, CFS, OFS], default: MFS }
          description: MFS=주재무, CFS=연결, OFS=별도
        - name: quarterPeriod
          in: query
          schema: { type: string, enum: [quarter, accumulated, year], default: accumulated }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AnalysisSummary" }

  /api/analysis/valuations/bands:
    get:
      tags: [financials]
      summary: PER/PBR 밸류에이션 밴드
      parameters:
        - $ref: "#/components/parameters/corpCode"
        - name: fsDiv
          in: query
          schema: { type: string, default: MFS }
      responses: { "200": { description: OK } }

  # ===================== 업스트림: 피드 / 시장 =====================
  /api/feed/{corpCode}:
    get:
      tags: [feed]
      summary: 기업별 통합 피드 (뉴스/공시/컨센서스). type=CONSENSUS 가 증권사별 목표가.
      parameters:
        - $ref: "#/components/parameters/corpCode"
        - name: limit
          in: query
          schema: { type: integer, default: 15 }
        - name: nextCursor
          in: query
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Feed" }

  /api/markets/all:
    get:
      tags: [market]
      summary: KOSPI/KOSDAQ 지수 스냅샷
      responses: { "200": { description: OK } }

  # ===================== 로컬: butler.view =====================
  /companies:
    get:
      tags: [local]
      summary: 로컬 DB 기업 목록 (검색/필터/정렬/페이지)
      servers: [{ url: "http://localhost:3939/api" }]
      parameters:
        - { name: q, in: query, schema: { type: string }, description: 이름/코드 검색 }
        - { name: market, in: query, schema: { type: string, enum: [KOSPI, KOSDAQ] } }
        - { name: consensus, in: query, schema: { type: string, enum: ["1"] }, description: 컨센서스 보유만 }
        - { name: sort, in: query, schema: { type: string, enum: [market_cap, target_return_rate, cover_securities, name] } }
        - { name: limit, in: query, schema: { type: integer, default: 50, maximum: 500 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer }
                  count: { type: integer }
                  results:
                    type: array
                    items: { $ref: "#/components/schemas/CompanyRow" }

  /companies/{corpCode}:
    get:
      tags: [local]
      summary: 기업뷰 단일 번들 (회사+증권사별 목표가+재무 분기/연간+밸류+목표가추이)
      servers: [{ url: "http://localhost:3939/api" }]
      parameters: [{ $ref: "#/components/parameters/corpCode" }]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  company: { $ref: "#/components/schemas/CompanyRow" }
                  brokerTargets:
                    type: array
                    items: { $ref: "#/components/schemas/BrokerTarget" }
                  financials:
                    type: object
                    properties:
                      quarterly: { type: array, items: { $ref: "#/components/schemas/GrowthRow" } }
                      annual: { type: array, items: { $ref: "#/components/schemas/GrowthRow" } }
                  valuations: { type: array, items: { type: object } }
                  targetMonthly: { type: array, items: { type: object } }
        "404": { description: not found }

  /companies/{corpCode}/consensus:
    get:
      tags: [local]
      summary: 증권사별 목표주가 (latest=증권사별 최신 / history=전체 이력)
      servers: [{ url: "http://localhost:3939/api" }]
      parameters:
        - { $ref: "#/components/parameters/corpCode" }
        - { name: mode, in: query, schema: { type: string, enum: [latest, history], default: latest } }
      responses: { "200": { description: OK } }

  /companies/{corpCode}/financials:
    get:
      tags: [local]
      summary: 재무 (QoQ/YoY 포함). period=Q(분기)|A(연간)
      servers: [{ url: "http://localhost:3939/api" }]
      parameters:
        - { $ref: "#/components/parameters/corpCode" }
        - { name: period, in: query, schema: { type: string, enum: [Q, A], default: Q } }
      responses: { "200": { description: OK } }

  /companies/{corpCode}/changes:
    get:
      tags: [local]
      summary: 기업별 변경 이력 (목표가 상향/하향, QoQ/YoY)
      servers: [{ url: "http://localhost:3939/api" }]
      parameters: [{ $ref: "#/components/parameters/corpCode" }]
      responses: { "200": { description: OK } }

  /ingest:
    post:
      tags: [local]
      summary: 온디맨드 수집 트리거 (변경분 자동 로깅)
      servers: [{ url: "http://localhost:3939/api" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kind: { type: string, enum: [companies, detail] }
                corpCode: { type: string }
            examples:
              detail: { value: { kind: detail, corpCode: "00937324" } }
              companies: { value: { kind: companies } }
      responses: { "200": { description: OK } }

  /stats:
    get:
      tags: [local]
      summary: DB 적재 현황 + 최근 변경 피드
      servers: [{ url: "http://localhost:3939/api" }]
      responses: { "200": { description: OK } }

  # ===================== 로컬: 섹터 =====================
  /sectors:
    get:
      tags: [sector]
      summary: 섹터 집계 목록 (기업수·평균 상승여력·평균 PER/PBR·시총합)
      servers: [{ url: "http://localhost:3939/api" }]
      responses: { "200": { description: OK } }
  /sectors/{code}:
    get:
      tags: [sector]
      summary: 섹터 상세 (집계 + 90일 목표가 상향/하향 모멘텀 + 구성 기업)
      servers: [{ url: "http://localhost:3939/api" }]
      parameters:
        - { name: code, in: path, required: true, schema: { type: string }, example: semiconductor }
        - { name: sort, in: query, schema: { type: string, enum: [market_cap, target_return_rate] } }
      responses: { "200": { description: OK }, "404": { description: 섹터 없음 } }

  # ===================== 로컬: 인증/관심목록/알림 =====================
  /auth/signup:
    post:
      tags: [auth]
      summary: 회원가입 (이메일+비밀번호) → 세션 쿠키
      servers: [{ url: "http://localhost:3939/api" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 6 }
      responses: { "200": { description: OK, headers: { Set-Cookie: { schema: { type: string }, description: butler_session (httpOnly) } } }, "400": { description: 검증 실패 } }
  /auth/login:
    post:
      tags: [auth]
      summary: 로그인 → 세션 쿠키
      servers: [{ url: "http://localhost:3939/api" }]
      requestBody:
        content:
          application/json:
            schema: { type: object, required: [email, password], properties: { email: { type: string }, password: { type: string } } }
      responses: { "200": { description: OK }, "401": { description: 인증 실패 } }
  /auth/logout:
    post:
      tags: [auth]
      summary: 로그아웃 (세션 파기)
      servers: [{ url: "http://localhost:3939/api" }]
      responses: { "200": { description: OK } }
  /auth/me:
    get:
      tags: [auth]
      summary: 현재 로그인 사용자 + 텔레그램 설정 여부
      servers: [{ url: "http://localhost:3939/api" }]
      responses: { "200": { description: OK } }
  /auth/telegram:
    post:
      tags: [auth]
      summary: 텔레그램 chat_id / 알림 on-off 설정
      servers: [{ url: "http://localhost:3939/api" }]
      requestBody:
        content:
          application/json:
            schema: { type: object, properties: { telegramChatId: { type: string }, alertsEnabled: { type: boolean } } }
      responses: { "200": { description: OK }, "401": { description: 로그인 필요 } }
  /watchlist:
    get:
      tags: [auth]
      summary: 내 관심목록
      servers: [{ url: "http://localhost:3939/api" }]
      responses: { "200": { description: OK }, "401": { description: 로그인 필요 } }
    post:
      tags: [auth]
      summary: 관심 기업 추가
      servers: [{ url: "http://localhost:3939/api" }]
      requestBody:
        content:
          application/json:
            schema: { type: object, required: [corpCode], properties: { corpCode: { type: string } } }
      responses: { "200": { description: OK }, "401": { description: 로그인 필요 } }
    delete:
      tags: [auth]
      summary: 관심 기업 제거
      servers: [{ url: "http://localhost:3939/api" }]
      parameters: [{ name: corpCode, in: query, required: true, schema: { type: string } }]
      responses: { "200": { description: OK }, "401": { description: 로그인 필요 } }

components:
  parameters:
    corpCode:
      name: corpCode
      in: path
      required: true
      description: DART 고유번호 8자리
      schema: { type: string, pattern: "^[0-9]{8}$" }
      example: "00937324"

  schemas:
    ScreenRow:
      type: object
      properties:
        stockCode: { type: string, example: "005930" }
        stockName: { type: string, example: 삼성전자 }
        corpCode: { type: string, example: "00126380" }
        price: { type: number }
        fluctuationRate: { type: string }
        marketCap: { type: string, description: 원 단위 문자열 }

    CompanyDetail:
      type: object
      properties:
        corpCode: { type: string }
        stockCode: { type: string }
        stockName: { type: string }
        corpNameEng: { type: string }
        corpCls: { type: string, enum: [Y, K], description: Y=KOSPI, K=KOSDAQ }
        fsDiv: { type: string }
        codeNameKR: { type: string, description: 업종명 }
        industryCode: { type: string }
        treasuryOutstandingRatio: { type: [string, "null"] }
        priceInfo:
          type: object
          properties:
            price: { type: number }
            fluctuationRate: { type: string }
            marketCapital: { type: string }
            per: { type: string }
            pbr: { type: string }
            fper: { type: string, description: 선행 PER }
            eps: { type: number }
            feps: { type: number }
            bps: { type: number }
            dps: { type: number }
            marketDividendYield: { type: string }
        menuOptions:
          type: object
          properties:
            consensus: { type: boolean }
            fundamental: { type: boolean }

    TargetPrices:
      type: object
      properties:
        charts:
          type: object
          properties:
            targetPrices:
              type: array
              items:
                type: object
                properties:
                  max: { type: number }
                  avg: { type: number }
                  min: { type: number }
                  date: { type: string, example: "25.07" }
                  fullDate: { type: string, example: "2025.07.31" }
                  price: { type: number, description: 월말 주가 }
                  coverSecurities: { type: integer }
                  returnRatio: { type: number }
            stocksHistories:
              type: array
              items: { type: object }
        tables:
          type: object
          properties:
            price: { type: number }
            targetPriceAvg: { type: number }
            returnRate: { type: string }
            coverSecurities: { type: integer }

    ReportDetail:
      type: object
      properties:
        id: { type: string }
        corpCode: { type: string }
        stockName: { type: string }
        date: { type: string, example: "2026-06-12" }
        title: { type: string }
        securitiesCompany: { type: string, example: 대신증권 }
        analyst: { type: string }
        targetPrice: { type: number }
        rating: { type: string, example: "매수 (BUY)" }
        ratingChange: { type: string, enum: [유지, 상향, 하향] }
        targetPriceChange: { type: string, enum: [유지, 상향, 하향] }
        priceClose: { type: number }
        returnRate: { type: string }
        securitiesCompanyUrl: { type: string }
        aiSummary: { type: string, description: butler 생성 리포트 요약 }

    AnalysisSummary:
      type: object
      description: 필요한 부분만 발췌. 실제 응답은 business/fs/fundamental/valuations/consensus/stockInfo/shareholderReturn 등.
      properties:
        fs:
          type: object
          properties:
            isRevenue: { $ref: "#/components/schemas/FsSeries" }
            isOperatingProfitLoss: { $ref: "#/components/schemas/FsSeries" }
            isNetIncome: { $ref: "#/components/schemas/FsSeries" }
        valuations:
          type: object
          properties:
            valPER:
              type: object
              properties:
                high: { type: number }
                low: { type: number }
                mid: { type: number }
                data: { type: array, items: { type: object } }
            valPBR: { type: object }
        consensus:
          type: object
          properties:
            hasReports: { type: boolean }
            hasTargetPrice: { type: boolean }
            isRevenue: { $ref: "#/components/schemas/FsSeries" }
            isOperatingProfitLoss: { $ref: "#/components/schemas/FsSeries" }
            targetPrices: { type: array, items: { type: object } }

    FsSeries:
      type: array
      items:
        type: object
        properties:
          date: { type: string, example: "26.03" }
          value: { type: [number, "null"] }
          bsnsYear: { type: string }
          quarter: { type: string }
          isPreliminary: { type: [boolean, "null"], description: null=미래 추정치 }
          isEstimate: { type: boolean }

    Feed:
      type: object
      properties:
        nextCursor: { type: [string, "null"] }
        hasNext: { type: boolean }
        data:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              type: { type: string, enum: [NEWS, CONSENSUS, DISCLOSURE] }
              corpCode: { type: string }
              contents:
                type: object
                properties:
                  reportId: { type: string }
                  values:
                    type: object
                    properties:
                      date: { type: string }
                      analyst: { type: string }
                      securitiesCompany: { type: string }
                      targetPrice: { type: number }
                      priceClose: { type: number }
                      rating: { type: string }
                      ratingChange: { type: string }
                      targetPriceChange: { type: string }
                      returnRate: { type: string }
                      aiSummary: { type: string }

    # ----- 로컬 DB 스키마 -----
    CompanyRow:
      type: object
      properties:
        corp_code: { type: string }
        stock_code: { type: string }
        name: { type: string }
        market: { type: [string, "null"] }
        sector: { type: [string, "null"] }
        is_financial: { type: integer, enum: [0, 1] }
        market_cap: { type: [integer, "null"] }
        price: { type: [integer, "null"] }
        per: { type: [number, "null"] }
        pbr: { type: [number, "null"] }
        fper: { type: [number, "null"] }
        has_consensus: { type: integer }
        cover_securities: { type: [integer, "null"] }
        target_price_avg: { type: [integer, "null"] }
        target_return_rate: { type: [number, "null"] }

    BrokerTarget:
      type: object
      properties:
        broker: { type: string }
        research_url: { type: [string, "null"] }
        analyst: { type: [string, "null"] }
        report_date: { type: string }
        target_price: { type: [integer, "null"] }
        target_price_change: { type: [string, "null"] }
        rating: { type: [string, "null"] }
        return_rate: { type: [number, "null"] }
        ai_summary: { type: [string, "null"] }
        report_id: { type: string }

    GrowthRow:
      type: object
      properties:
        metric: { type: string, enum: [REVENUE, OPERATING_PROFIT, NET_INCOME] }
        raw_label: { type: [string, "null"] }
        fiscal_year: { type: integer }
        quarter: { type: integer, description: "1..4, 0=연간" }
        period_type: { type: string, enum: [Q, A] }
        is_estimate: { type: integer, enum: [0, 1] }
        value: { type: number }
        qoq_pct: { type: [number, "null"] }
        yoy_pct: { type: [number, "null"] }
